.DS_Store
.Rhistory
.RData
*~
input/
output/
exp/
exp2/
Peak\ timestamps/
Synuclein\ Triple\ Knockout/
pipeline/

.Rproj.user

Docs/PresentationNotes\.html

Docs/PresentationNotes\.aux

Docs/PresentationNotes\.log

Docs/PresentationNotes\.out

Docs/PresentationNotes\.pdf

Docs/PresentationNotes\.synctex\.gz

Docs/PresentationNotes\.tex

Docs/PresentationNotes\.toc

Docs/PresentationNotes\.txt

Simulations/PoreModelSulzer\.xls

Simulations/RW DA diffusion in striatum\.xls

Simulations/~\$RW_CV_corrected\.xlsx

Simulations/RW_CV_dev_test\.csv

Simulations/RW_CV_master_test\.csv

Simulations/RW_CV_sheet_sim_comparison\.xlsx

Simulations/RW_CV_test\.csv

Simulations/~\$RW_CV\.xlsx

scripts/~\$file_params\.xlsx

scripts/\.~lock\.file_params\.xlsx#

tests/testdata/

<<<<<<<
scripts/~\$file_params\.xlsx

scripts/\.~lock\.file_params\.xlsx#

=======

>>>>>>>